{% extends 'base.html' %}
{% block content %}
<div class="">
<div class="bg-black w-full h-40 flex flex-col items-center justify-center">
    <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl text-white">
        Change Password
    </h1>
    <p class="text-sm text-center my-1 text-white">
        change your password giving old password .....
    </p>
</div>   
    <div class="w-10/12 sm:w-10/12 md:w-1/2  mx-auto w-full bg-white rounded-lg shadow dark:border xl:p-0 dark:bg-gray-800 dark:border-gray-700 mt-10 mb-15 ">
        <div class="space-y-4 md:space-y-6 p-4 w-full">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Change Your Password
            </h1>

            <form action="{% url 'change-password' %}" method="POST" class="o space-y-4 md:space-y-6 w-full">

                {% csrf_token %}

                {{ form.as_p }}
                <button class="w-full text-white bg-blue-500 btn btn-primary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        type="submit">
                    Change Password
                </button>
               
        </div>
    </div>

</div>

{% endblock %}