{% extends 'base.html'%}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900 py-3 w-full max-w-screen"> 
    <div class="bg-black mb-4 w-full h-40 flex flex-col items-center justify-center">
    <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl text-white">
        Update Profile
    </h1>
    <p class="text-sm text-center my-1 text-white">
        Get Your info update here .....
    </p>
</div>
    <div class="flex flex-col w-10/12 sm:w-10/12 md:w-1/2 items-center justify-center  mx-auto  md:flex-row ">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 ">
            <div class="space-y-4 md:space-y-6 p-4 w-full">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Update Your Profile
                </h1>

                <form action="#" method="POST" class="o space-y-4 md:space-y-6 w-full">

                    {% csrf_token %}

                    {{ form.as_p }}
                    <button class="w-full text-white bg-blue-500 btn btn-primary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            type="submit">
                        Update Profile
                    </button>
                    <a href="{% url 'change-password' %}" class="text-blue-500 hover:text-blue-800 transition-color text-sm underline underline-blue-500  block text-center w-full">Change Password</a>
                   
            </div>
        </div>
    </div>
{% endblock %}