<div class="w-[1000px] mx-auto h-96 relative overflow-hidden mt-10">
  <!-- Slider wrapper -->
  <div class="flex w-[500%] h-full transition-transform duration-700 ease-in-out"
       id="slider">
    <div class="w-full flex-shrink-0 overflow-hidden">
      <img alt
           class="object-cover w-[1000px] h-full object-center"
           src="https://media.istockphoto.com/id/2196744460/photo/rack-with-various-merchandise-on-display-in-store.jpg?s=1024x1024&w=is&k=20&c=OKO8bD6dRX6br5VQyecFRo_I92PVSczEFXpthB7q5jQ=" />
    </div>

    <div class="w-full aspect-[16/9] flex-shrink-0 overflow-hidden">
      <img alt
           class="object-cover w-[1000px] h-full object-center"
           src="https://media.istockphoto.com/id/2196744460/photo/rack-with-various-merchandise-on-display-in-store.jpg?s=1024x1024&w=is&k=20&c=OKO8bD6dRX6br5VQyecFRo_I92PVSczEFXpthB7q5jQ=" />
    </div>
    <div class="w-full aspect-[16/9] flex-shrink-0 overflow-hidden">
      <img alt
           class="object-cover w-[1000px] h-full object-center"
           src="https://media.istockphoto.com/id/2196744460/photo/rack-with-various-merchandise-on-display-in-store.jpg?s=1024x1024&w=is&k=20&c=OKO8bD6dRX6br5VQyecFRo_I92PVSczEFXpthB7q5jQ=" />
    </div>
    <div class="w-full aspect-[16/9] flex-shrink-0 overflow-hidden">
      <img alt
           class="object-cover w-[1000px] h-full object-center"
           src="https://media.istockphoto.com/id/2196744460/photo/rack-with-various-merchandise-on-display-in-store.jpg?s=1024x1024&w=is&k=20&c=OKO8bD6dRX6br5VQyecFRo_I92PVSczEFXpthB7q5jQ=" />
    </div>
    <div class="w-full aspect-[16/9] flex-shrink-0 overflow-hidden">
      <img alt
           class="object-cover w-[1000px] h-full object-center"
           src="https://media.istockphoto.com/id/2196744460/photo/rack-with-various-merchandise-on-display-in-store.jpg?s=1024x1024&w=is&k=20&c=OKO8bD6dRX6br5VQyecFRo_I92PVSczEFXpthB7q5jQ=" />
    </div>
  </div>
  <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
    <button class="btn btn-circle prevBtn" href="#slide3" id="prevBtn">
      ❮
    </button>
    <button class="btn btn-circle nextBtn" href="#slide1" id="nextBtn">
      ❯
    </button>
  </div>
</div>
