  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
      <div class="swiper-slide"><img src="https://declarepakistan.com/cdn/shop/files/LFP1114_5.jpg?v=1740047741&width=533" alt=""></div>
    </div>

    <!-- Navigation and Pagination -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  

